<!DOCTYPE html>
<form action="/user" method="post"  accept-charset="utf-8">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  <label for="fname">Username:</label>
  <input type="text" id="fname" name="user[name]"><br><br>
  
  <label for="ename">email:</label>
  <input type="email" id="ename" name="user[email]"><br><br>
  
  <input type="password" id="lname" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form>
</html>
